* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Grid layout */

.container {
  font-family: Roboto, sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(220px, calc(170px + 15vh)) 1fr;
  grid-template-rows: minmax(220px, 1fr) 4fr;

  grid-template-areas:
    'aside header'
    'aside article';
}

.header {
  background-color: #ffffff;
  grid-area: header;
}

.aside {
  background-color: #0097dd;
  grid-area: aside;
  display: grid;
  justify-content: center;
}

/* Aside section Style */

.aside ul {
  list-style: none;
}

.aside ul li {
  margin: 2vh 0;
}

.aside ul li:nth-child(n+2):hover a {
  transform: translate(15px);
}

.aside ul li a {
  font-size: calc(0.8rem + 1vh);
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.aside ul li img {
  width: calc(1rem + 1vh);
  margin-right: 20px;
}

.aside ul li:nth-child(1) img {
  width: calc(3rem + 1vh);
}

.aside ul li:first-child,
.aside ul li:nth-child(7) {
  margin-bottom: 5vh;
}

.article {
  background-color: #e6eef0;
  grid-area: article;
}

/* Header section Style */

.header {
  padding: 1.5vw;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgb(198, 198, 198);
  z-index: 1;
  display: grid;
  grid-template-columns: minmax(470px, 1fr) minmax(330px, 1fr);
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info {
  font-size: 1.4rem;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.user-info .user-icon-wrapper,
.user .user-icon-wrapper {
  width: 60px;
  height: 60px;
  background-color: #fac506;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .search-icon,
.user-info .ring-icon {
  width: calc(1rem + 1vh);
  transition: transform 0.2s ease-in-out;
}

.search-bar .search-icon:hover,
.user-info .ring-icon:hover {
  transform: scale(1.3);
}

.user-info .user-icon,
.user .user-icon {
  width: 100%;
  padding: 5px;
}

.search-bar #search {
  height: calc(1.6rem + 1vh);
  width: 80%;
  padding: 3px 10px;
  font-size: 1.2rem;
  background-color: #e4eff3;
  border: none;
  border-radius: 20px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user .user-icon-wrapper {
  width: 90px;
  height: 90px;
}

.user .user-name-wrapper .user-name {
  font-size: calc(1rem + 1vh);
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2vh;
}

.buttons button {
  padding: 12px 35px;
  color: white;
  font-size: calc(0.6rem + 1vh);
  background-color: #008cff;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
}

.buttons button:hover {
  background-color: #5eb5fc;
  cursor: pointer;
}

/* Article section style */

.article {
  padding: 1.5vw;
  display: grid;
  grid-template-columns: 3fr calc(220px + 5vw);
  /* grid-template-rows: 1fr; */
  /* grid-auto-rows: auto; */
  grid-template-areas:
    "projects announcements"
    "projects trending";
  grid-gap: 40px;
}

.projects {
  grid-area: projects;
}

.card-wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: calc(15px + 1vw);
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

/* Projects Cards */

.card {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  border-left: 10px solid orange;
  display: grid;
  align-content: space-between;
  box-shadow: 0px 5px 10px 0px rgb(198, 198, 198);
}

.card a {
  color: black;
  margin-bottom: 1rem;
  font-size: calc(0.8rem + 1vh);
  font-weight: 600;
  text-decoration: none;
}

.card p {
  color: #666666;
  font-size: calc(0.5rem + 1vh);
  font-weight: 100;
}

.card .icon-wrapper {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 10px;
}

.card img {
  width: calc(15px + 1vh);
  cursor: pointer;
}

/* Announcements section Style */

.posts-wrapper {
  background-color: white;
  border-radius: 10px;
  margin-top: 1rem;
}

.posts-wrapper .divider {
  height: 1px;
  width: 90%;
  margin: 0 auto;
  background-color: lightgray;
}

.posts-wrapper .post {
  padding: 20px;
}

.posts-wrapper h3 {
  font-size: calc(0.5rem + 1vh);
  margin-bottom: 6px;
}

.posts-wrapper p {
  color: #666666;
  font-size: calc(0.4rem + 1vh);
}

/* Trending section Style */

.trending-wrapper {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 1rem;
}

.trending-user {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.trending-user .user-icon-wrapper {
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.trending-user:nth-child(1) .user-icon-wrapper {
  background-color: #aca8ed;
}

.trending-user:nth-child(2) .user-icon-wrapper {
  background-color: #8ce8e4;
}

.trending-user:nth-child(3) .user-icon-wrapper {
  background-color: #f7e94e;
}

.trending-user:nth-child(4) .user-icon-wrapper {
  background-color: #6ce8c7;
}

.user-icon-wrapper .user-icon {
  width: 100%;
  padding: 5px;
}

.trending-user .user-project-name {
  color: #666666;
  font-weight: 100;
}